<a href="https://colab.research.google.com/github/sreenathmt/ICT-DS-COURSE/blob/main/Hypothesis_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Case Study on Testing of Hypothesis
A company started to invest in digital marketing as a new way of their product promotions. For that they collected data and decided to carry out a study on it.

● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.
● The company needs to check whether there is any dependency between the features “Region” and “Manager”.
.

In [ ]:
import  pandas as pd
import numpy as np
import seaborn as sns
import scipy as sp
import matplotlib.pyplot as plt
import scipy.stats as stats

In [ ]:
df=pd.read_csv('Sales_add.csv')
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [ ]:
df[['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [ ]:
df.shape

(22, 5)

## The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

 We will go with T test to check the hypothethis since sample size is below 30

In [ ]:
# Setup Hypothesis
# H0: There is increase in sales after stepping to digital marketing
# H1: There is no increase in sales after stepping to digital marketing

In [ ]:
sl_bfadd=df['Sales_before_digital_add(in $)']
sl_afadd=df['Sales_After_digital_add(in $)']

In [ ]:
tvalue, pvalue = stats.ttest_ind(sl_bfadd,sl_afadd)
stats.ttest_ind(sl_bfadd,sl_afadd)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

In [ ]:
# 2-tailed t test
t_critical=stats.t.ppf(1-0.05,40)
stats.t.ppf(1-0.05,40)

1.68385101138658

In [ ]:
# checking Hypothesis condition
if (tvalue>t_critical and pvalue <0.05):
    print('Reject H0: there is increase in sales after stepping into digital marketing')
else:
    print('Reject H1: there is no increase in sales after stepping into digital marketing')

Reject H1: there is no increase in sales after stepping into digital marketing

*From* the above test there is increase in Sales after stepping into digital marketing

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [ ]:
df.groupby(['Region','Manager']).count()

                        Month  Sales_before_digital_add(in $)  \
Region     Manager
Region - A Manager - A      4                               4
           Manager - B      3                               3
           Manager - C      3                               3
Region - B Manager - A      4                               4
           Manager - B      1                               1
           Manager - C      2                               2
Region - C Manager - A      1                               1
           Manager - B      3                               3
           Manager - C      1                               1

                        Sales_After_digital_add(in $)
Region     Manager
Region - A Manager - A                              4
           Manager - B                              3
           Manager - C                              3
Region - B Manager - A                              4
           Manager - B                              1
           Manager - C                              2
Region - C Manager - A                              1
           Manager - B                              3
           Manager - C                              1

In [ ]:
df1=df.groupby('Region')['Manager'].value_counts().unstack()
df1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [ ]:
chivalue, pvalue, dof, expvalues = stats.chi2_contingency(df1)

In [ ]:
# Print Chi-Square Test of Independence values
print('Chi sqaure Test Statistic:',chivalue)
print('Pvalue of test data;',pvalue)
print('Degrees of Freedom:',dof)
print('Expected observations of data:',expvalues)

Chi sqaure Test Statistic: 3.050566893424036
Pvalue of test data; 0.5493991051158094
Degrees of Freedom: 4
Expected observations of data: [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [ ]:
chi_cval=stats.chi2.ppf(1-0.05,4)
print(chi_cval)

9.487729036781154

In [ ]:
if(chivalue>chi_cval and pvalue<0.05):
    print('Reject H0: Region and Manager features are independent')
else:
    print('Reject H1: Region and Manager features are dependent')

Reject H1: Region and Manager features are dependent

As per above test there is no dependency between the features “Region” and “Manager”